In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('cities.csv')
df.head()

,City,Clouds,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,sosnovo-ozerskoye,92,ru,07-07-2018,100,52.53,111.54,51.73,10.67
1,atuona,64,pf,07-07-2018,100,-9.80,-139.03,79.18,17.49
2,hermanus,0,za,07-07-2018,77,-34.42,19.24,37.69,2.51
3,aksarka,92,ru,07-07-2018,81,66.56,67.80,59.47,11.45
4,koppang,8,no,07-07-2018,86,61.57,11.04,42.82,2.17

In [6]:
df.to_html('table.html')